/* media queriess */

@media only screen and (max-width: 768px) {
  header .icons,
  header .items {
    display: none;
  }

  .container {
    /* position: relative; */
    width: 100%;
    background-color: var(--black-color);
    color: var(--white-color);
    padding-left: 40px;
    padding-right: 40px;
    /* top:-5px; */
    max-height: fit-content;
  }
  .banner .banner-image img {
    position: relative;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    filter: brightness(0.5);
  }

  main .banner h1 {
    font-size: 44px;
    color: var(--white-color);
  }
  main .bottom-line {
    width: 65%;
    height: 7px;
    background-color: var(--peach-color);
    margin: 15px 0px;
  }
  main .banner p {
    color: var(--white-color);
    width: 54%;
    font-size: 22px;
    line-height: 28px;
  }
  main .banner-contents {
    position: absolute;
    padding: 5% 5%;
    margin-left: 20px;
    top: 75px;
  }

  .about-us .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
  }

  .about-us h1,
  .menu .title h1,
  .find-us h1 {
    font-size: 30px;
    text-transform: uppercase;
  }

  main .about-us hr,
  main .menu hr,
  main .find-us hr {
    width: 50%;
    background-color: var(--peach-color);
    height: 7px;
    border: none;
  }
  main .about-us .about-us-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    color: var(--white-color);
    padding: 10% 0%;
    /* margin-top:0px; */
  }
  main .about-us .about-us-contents .description {
    width: 70%;
  }
  main .about-us-contents .image img {
    width: 310px;
    margin: auto;
    margin: 0px 30px;
  }
  main .about-us-contents .description,
  .image {
    display: flex;
    justify-content: center;
  }
  main .about-us-contents .description p {
    font-size: 15px;
    padding-top: 7px;
  }
  .container .menu {
    position: relative;
    margin-top: 50px;
  }
  .menu .title,
  .find-us .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu .menu-items {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
    gap: 6% 2%;
  }
  .menu-items .items {
    display: flex;
    column-gap: 5%;
  }
  .menu .menu-items .items .item-details p {
    font-size: 10px;
    line-height: 15px;
  }
  .item-details h1 {
    color: var(--yellow-color);
    font-size: 13px;
  }

  /* find us */
  .container .find-us {
    position: relative;
    margin-top: 40px;
    padding: 40px;
  }
  .find-us .find-us-details {
    width: 64%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .find-us .find-us-container {
    padding-top: 34px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  .container .find-us-container .map iframe {
    width: 270px;
    height: 230px;
  }
  .other-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    letter-spacing: 1px;
  }
  .other-info .fa-phone,
  .fa-location-dot {
    height: 20px;
  }
}
