@import url(./media-query.css);
:root {
  --black-color: #000;
  --white-color: #fff;
  --peach-color: #f24c4c;
  --yellow-color: #f2c94c;
}

* {
  font-family: "Ruda", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 999;
  top: 0;
  background-color: var(--black-color);
  color: var(--white-color);
  height: 65px;
}
.nav-items {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  column-gap: 22px;
  font-size: 18px;
}
header .title,
header .icons {
  margin: 0px 40px;
}
header .title {
  font-size: 28px;
}

.nav-items .items a {
  text-decoration: none;
  color: var(--white-color);
}
.icons {
  display: flex;
  column-gap: 26px;
}
.hamburger-container {
  display: none;
}


.banner .banner-image img {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.5);
}

.banner h1 {
  font-size: 56px;
  color: var(--white-color);
}
.bottom-line {
  width: 25%;
  height: 7px;
  background-color: var(--peach-color);
  margin: 15px 0px;
}
.banner p {
  color: var(--white-color);
  width: 34%;
  font-size: 18px;
  line-height: 28px;
}
.banner-contents {
  position: absolute;
  padding: 5% 5%;
  margin-left: 20px;
  top: 35px;
}

/* container */
.container {
  /* position: relative; */
  width: 100%;
  background-color: var(--black-color);
  color: var(--white-color);
  padding-left: 40px;
  padding-right: 40px;
  /* top:-5px; */
  max-height: fit-content;
  display:  flex;
  flex-direction: column;
}
.about-us{
  display: flex;
  flex-direction: column;
  gap:23px;

}
.about-us .about-us-contents {
  display: flex;
  justify-content: space-evenly;
  /* gap: 30px; */
  color: var(--white-color);
  /* padding: 4% 0%; */
  /* height: 50vh; */
}
.about-us .title ,.menu .title,
.find-us .title   {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}

.about-us h1,
.menu .title h1,
.find-us .title h1 {
  font-size: 40px;
  text-transform: uppercase;
}

.about-us hr,
.menu hr,
.find-us hr {
  width: 20%;
  background-color: var(--peach-color);
  height: 7px;
  border: none;
}

.about-us-contents .description,
.image {
  width: 40%;
}
.description p {
  border-top: 3px solid var(--peach-color);
  font-size: 20px;
  /* padding-top: 15px; */
}
.about-us-contents img {
  width: 100%;
}
/* menu */
.menu {
  /* position: relative; */
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
}
/* .menu .title,
.find-us .title {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.menu-items {
  display: grid;
  grid-template-columns: repeat(2, 37%);
  justify-content: center;
  gap: 14% 2%;
  padding: 40px 0px ;
  padding-bottom: 140px;
}
.menu-items .items {
  display: flex;
  column-gap: 5%;
}
.menu-items .items .item-details p {
  font-size: 17px;
  line-height: 22px;
}
.item-details h1 {
  color: var(--yellow-color);
  font-size: 20px;
}
.menu-items .item-iamge{
  width: 100%;
}
.menu-items img {
  width: 100%;
}
.menu .desc {
  display: flex;
  justify-content: center;
  /* padding: 49px; */
  font-size: 18px;
  line-height: 23px;
  /* padding-bottom: 40px; */
}

/* find us */
/* .find-us {
  position: relative;
  margin-top: 140px;
  padding: 40px;
} */
.find-us-details {
  width: 44%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.find-us-container {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;


}
.find-us-container .map iframe {
  width: 290px;
  height: 250px;
}
.other-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 1px;
}
.other-info .fa-phone,
.fa-location-dot {
  height: 20px;
}

/* mobile-view */
@media (max-width: 564px) {
  header .title {
    font-size: 21px;
    margin: 0;
    padding: 10px;
  }
  .nav-items,
  .icons {
    display: none;
  }
  .hamburger-container {
    width: 40px;
    display: block;
  }
  
  .banner-contents {
    margin-left: 0px;
    top: 77px;
    
  }
  .banner h1 {
    font-size: 44px;
  }

  .banner p {
    width: 100%;
  }
  .banner .banner-image img { 
  height: 65vh    
}

.container{
  padding: 0px 12px;
  display:  flex;
  flex-direction: column;
  }
  .container .about-us{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  
  .about-us-contents .description,
  .image {
    width: 100%;
  }
  .about-us .about-us-contents {
    display: flex;
    flex-direction: column;
    gap:12px;
    /* margin: 0px 17px; */   
  }  
  .description p {
    border: 0px;
    font-size: 14px;
 line-height: 17px;
  }
  .about-us .title, .menu .title, .find-us .title {
    padding: 10px 0px;
  }
  .about-us h1,
.menu .title h1,
.find-us .title h1 {
  font-size: 26px;
}

.about-us hr,
.menu hr,
.find-us hr {
  width: 32%;
  height: 4px;
}

/* menu */

.menu .desc {
  font-size: 14px;
 line-height: 17px;
}
.menu-items { 
  grid-template-columns: repeat(1, 100%);
 padding-left: 0px;
  gap: 2% 1%;
  padding: 18px 0px ;
}
.menu-items .items {
  display: flex;
  column-gap: 12%;
}
.menu-items img {
  width: 122%;
}
.item-details h1 {
  font-size: 19px;
}
.menu-items .items .item-details p {
  font-size: 15px;
  line-height: 22px;
}
.find-us{
  padding-top:80px;
}
.find-us-container {
  display: flex;
  flex-direction: column;
  gap:9px;
  font-size:17px;
 }
 .find-us-details {
  width: 96%;
  flex-direction: column;
  gap: 11px;
}
.find-us-container .map iframe {
  width: 255px;
  height: 183px;
  padding-bottom: 20px;
}
}




/* tab-view */
@media (min-width: 563px) and (max-width: 900px) {
 
  header .title {
    font-size: 21px;
    margin: 0;
    padding: 10px;
  }
  .nav-items {
    display: none;
  }
  .icons{
    display: none;
  }
  .hamburger-container {
    width: 40px;
    display: block;
  }
  .banner-contents {
    margin-left: 0px;
    top: 100px;
    
  }
  .banner h1 {
    font-size: 50px;
  }
br{
  display: none ;
}
  .banner p {
    width: 100%;
  }
  .banner .banner-image img { 
  height: 65vh    
}
.container{
  padding: 0px 14px ;
  display:  flex;
  flex-direction: column;
  }
  .container .about-us{
    display: flex;
    flex-direction: column;
   
  }
  .about-us .title { 
       padding: 10px 0px;
    
  }
  .about-us-contents .description,
  .image {
    width: 90%;
  
  }
  .about-us .about-us-contents {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    gap:9px;
    justify-content: center;
    align-items: center;
     
  }  
  .description p {
    border: 0px;
    font-size: 19px;
 line-height: 24px;
  }
  .about-us .title, .menu .title, .find-us .title {
    padding: 10px 0px;
  }
  .about-us h1,
.menu .title h1,
.find-us .title h1{
  font-size: 26px;
}
.about-us hr,
.menu hr,
.find-us hr {
  width: 32%;
  height: 4px;
}

/* menu */
.menu {
  /* position: relative; */
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  padding-top: 16px;;
}
/* .menu .title,
.find-us .title {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.menu-items {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  justify-content: center;
  gap: 14% 2%;
  padding: 20px 0px ;
  padding-bottom: 140px;
}
.menu-items .items {
  display: flex;
  column-gap: 7%;
}
.menu-items .items .item-details p {
  font-size: 17px;
  line-height: 22px;
}
.item-details h1 {
  color: var(--yellow-color);
  font-size: 20px;
}
.menu-items .item-iamge{
  width: 120%;
}
.menu-items img {
  width: 100%;
}
.menu .desc {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-size: 19px;
  line-height: 25px;
  /* padding-bottom: 40px; */
}
 
.find-us{
  padding-top:0px;
}
.find-us-container {
  display: flex;
  flex-direction: column;
  gap:22px;
  font-size: 20px;
 }
 .find-us-details {
  padding-top: 12px;
  width: 96%;
  flex-direction: column;
  gap: 11px;
}
.find-us-container .map iframe {
  width: 397px;
  height: 283px;
  padding-bottom: 20px;
}

}
/* @media (max-width: 480px){} //mobile
@media (min-width: 481px) and (max-width: 767px){} //tablets

@media (min-width: 1025px) and (max-width: 1440px){} // desktop

@media (min-width: 1441px){} //larger screen */
